.masthead {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 30rem rgba(0, 0, 0, .9);
    background-image: linear-gradient(to bottom, rgb(0,0,0,0), rgb(0,0,0,0.8));
    text-shadow: 2px;;
    
  }
  
  .hihi{
  color: white;
  filter: brightness(150%);
  }
  
  .btn-outline-dark{
                  color:#FFF;
                  text-align: center;
                  display: table-cell;
                  vertical-align: middle;
                  font-size: 12pt;
                  border-color: white;
                  border-radius: 10px;
                  margin-bottom: 10px; 
  }
  .btn-outline-dark:hover{
      color:#FFF;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      font-size: 12pt;
      border-color: white;
      border-radius: 10px;
      margin-bottom: 10px; 
  }
  
  .modal-content{
      border-radius: 30px;
  }
  
  .tabel{
      border: solid 1px rgb(155, 155, 155);
      border-radius: 25px;
      margin-bottom: 7px;
      width: 98%;
      padding-left: 15px;
      font-size: 12pt;
  }
  
  .log{
      font-size: 12pt;
  }
  
  /* form */
  .tabel{
      width: 90%;
  }
  
  input{
      border-radius: 20px;
      border: none;
      border: solid 1px rgb(155, 155, 155);
      height: 30px;
  }
  .formsignup{
      margin-left: 35%;
      margin-right: 35%;
      margin-top: 2%;
      background-color: white;
      width: 30%;
      box-shadow: 20px 20px grey;
  
  }
  
  .tabel, .radionya{
     
      font-size: 10pt;    
  }
  
  .center-cropped {
      object-fit: cover; 
      object-position: center; 
      height: 190px;
      width: 107%;
      filter: brightness(50%);
  }
  
  .centered {
      position: absolute;
      top: 50;
      left: 35%;
      transform: translate(-20%, -150%);
      color: white;
      
  
  }
  h6{
      font-family: 'Roboto', sans-serif;
  
  }
  
  select{
      border-radius: 20px;
      border: none;
      border: solid 1px rgb(155, 155, 155);
  }
  
  h7{
      font-size: 10pt;
  }
  
  .btn-dark{
      color:white;
      background-color: black;
      border-radius: 10px;
      margin-left: -2rem;
  }